<div>In this example we are displaying the component's properties</div>

<div>
  <h1>Congratulations! This is your first component!</h1>
  <h4>You got your component to display!</h4>
  <hr>
  <h5>How does your event look below?</h5>

  <div style="margin-top:30px">
    Event: {{event.name}}
  </div>
  <div>
    Date: {{event.date}}
  </div>
  <div>
    Time: {{event.time}}
  </div>
  <div>
    Address: {{event.location.address}}, {{event.location.city}}, {{event.location.country}}
    </div>
</div>