<div class="card">
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/logo.jpg" class="img-responsive center-block" style="max-height:300px;padding-bottom:50px" />
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Iman Mohtashemi</h3>
      </div>

      <div class="text-center">@imanmohtashemi</div>
      <div class="text-center">
        <a href="http://107.210.222.58/api/products">www.bit.ly/ImansBlog</a>
      </div>
    </div>
  </div>
</div>
<div>
  <hello helloName="{{ appName }}"></hello>
  <p>
    Welcome to the Angular demo application. Here we will learn  Angular through examples.
  </p>
  <p class=ex1-style>
    We pass the name variable as input to the nested hello.component in the home.component from the parent
    app.component
    For example replace name= double curly braces with name = "test"
    and see what happens. Note the style sheet specific to the text
  </p>
</div>
<div class="card-header">
  {{pageTitle}}
</div>

<div class="card">
  <img src="./assets/images/homepage.jpg" class="img-responsive center-block" style="max-height:500px;padding-bottom:50px" />
</div>
<div>
  <p>Welcome to the home page. The main page is the index.html file
     Note the 'app-root' tag. This is where the app.component.ts file's
     html will be injected which is referenced as app.component.html which 
     has the rounting html to the pages
  </p>
</div>